.control-group
  .controls
    %span.help-block
      All join dates should be in
      %code yyyy-mm-dd
      format.
      %br
      %strong Country::Initiative
      URLs are links to pages about an initiatve hosted by a country.
      %br
      %strong Inititiave::Country
      URLs are links to pages about a country hosted by an initiative.
