.control-group
%label.control-label Country::Initiative URL
.controls
  = f.text_field :country_url
  %span.help-inline http://sample.format
.control-group
%label.control-label Initiative::Country URL
.controls
  = f.text_field :initiative_url
  %span.help-inline http://sample.format
