.container
  .row
    .span12
      - if @initiative && can?(:edit, @initiative)
        .subnav
          %ul.nav.nav-pills.pull-right
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                Actions
                %b.caret
              %ul.dropdown-menu.pull-right
                %li
                  = link_to edit_initiative_path(@initiative) do
                    %span.icon-pencil
                    Edit #{@initiative.name}
                - if can? :create, Country
                  %li.divider
                  %li
                    = link_to new_initiative_path do
                      %span.icon-plus
                      New Initiative
