:erb
  {
    "cols": [
        {
            "id": 0,
            "label": "Country",
            "type": "string"
        },
        {
            "id": 1,
            "label": "Initiatives",
            "type": "number"
        }
    ],
    "rows": [
      <% for country in Country.all do %>
        {
          "c": [
              {
                  "v": "<%= country.name %>"
              },
              {
                  "v": <%= country.initiatives.count %>
              }
          ]
        }<%= ',' unless country == Country.last %>
      <% end %>
    ]
  }
