.well.blue
  %h2 How to format
  %p Right now, we only offer raw HTML formatting, but soon we'll implement a simpler, easy-to-use markup named Markdown
  %p Luckily, Markdown is capable of parsing HTML, so any HTML you implement now will continue to function seamlessly.
%h3 Markdown Style Guide
