.container
  .row
    .span6.offset3
      .well.red
        %h1= pluralize(@pages.count, 'Page')
  .row
    .span6.offset3
      %ul.no-bullet
        - for page in @pages do
          %li
            = link_to page.title, page
            = truncate(page.html, :length => 50)
            = link_to 'edit', edit_page_path(page)
