.container
  .row
    .span4.offset1
      .hero-unit
        %h1= pluralize(@pages.count, 'Page')
    .span6
      %ul
        - for page in @pages do
          %li
            = link_to page.title, page
            = truncate(page.html, :length => 20)
            = link_to 'edit', edit_page_path(page)
