.container
  .row
    .span12
      - if @country && can?(:edit, @country)
        .subnav
          %ul.nav.nav-pills.pull-right
            %li.dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                Actions
                %b.caret
              %ul.dropdown-menu.pull-right
                %li
                  = link_to edit_country_path(@country) do
                    %span.icon-pencil
                    Edit #{@country.name}
                - if can? :create, Country
                  %li.divider
                  %li
                    = link_to new_country_path do
                      %span.icon-plus
                      New Country
                - if can? :read, @country.page
                  %li.divider
                  %li
                    = link_to @country.page do
                      %span.icon-list-alt
                      View Page
