:erb
  {
    "cols": [
        {
            "id": 0,
            "label": "Country",
            "type": "string"
        },
        {
            "id": 1,
            "label": "Volunteers",
            "type": "number"
        }
    ],
    "rows": [
        <% for country in @countries do %>
          {
            "c": [
                {
                    "v": "<%= country.name %>"
                },
                {
                    "v": <%= country.num_volunteers.to_i %>
                }
            ]
          }<%= ',' unless country == @countries.last %>
        <% end %>
    ]
  }
