// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap_and_overrides';
@import 'datepicker';

/********************************************************/
/* Basic styles */

body {
  header {
    .navbar {
      .brand {
        color: $blue;
      }
    }
  }
  #main {
    form {
      input, select, textarea, .controls {
        &.required {
          background-color: $requiredColor;
        }
      }
    }
  }
  footer {
    @include box-shadow(0 -2px 2px $black);
    background-color: $navbarBackground;
    color: $navbarText;
    padding-top: 2em;
    hr {
      border-top: 1px solid $navbarText;
      border-bottom: 1px solid $navbarBackgroundHighlight;
    }
    .nav {
      &.nav-list {
        li {
          &.nav-header {
            text-shadow: none;
          }
          a {
            text-shadow: none;
            &:hover {
              background: none;
            }
          }
        }
      }
    }
  }
}

.center {
  text-align: center;
}

.center-block {
  @include center-block();
}

a {
  &.no-decoration {
    &:hover {
      text-decoration: none;
    }
  }
}

.float {
  &.float-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.clearfix {
  @include clearfix();
}

.hero-unit, .well {
  &.expand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &.purple {
    color: $white;
    background-color: $purple;
  }
  &.green {
    color: $white;
    background-color: $green;
    small {
      color: lighten($black, 20%);
    }
  }
  &.red {
    color: $white;
    background-color: $red;
  }
  &.blue {
    color: $white;
    background-color: $blue;
    small {
      color: darken($white, 10%);
    }
    a {
      color: lighten($black, 10%);
      &:hover {
        color: lighten($black, 30%);
      }
    }
  }
  &.brown {
    color: $white;
    background-color: $brown;
  }
  &.orange {
    color: $black;
    background-color: lighten($orange, 10%);
    a {
      color: $red;
      &:hover {
        color: darken($red, 30%);
      }
    }
  }
}

