.container-fluid
  .row-fluid.equal-heights-2
    .span6
      .alert.alert-error.equalize
        = link_to 'x', '#', :class => 'close', 'data-dismiss' => 'alert'
        %strong WARNING!
        This app is undergoing heavy development. Any and all data may be destroyed at any time. You've been warned.
    .span6
      .alert.alert-warning.equalize
        = link_to 'x', '#', :class => 'close', 'data-dismiss' => 'alert'
        %strong 0215 UTC:
        Added Markdown text formatting for page content. There's a quick-help on the edit page. Let me know if things are funky.
